
.modal-header, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer, .row{
    margin-right: 0px;
    margin-left: 0px;
}
.modal{
    border-radius: 25px;
    border: 5px solid white;
}
.modal .modal-content {
    padding: 0px;
}

#AddCard{
    max-height: 50% !important;
    border-radius: 10px;
}

.modal-footer{
    position: absolute;
    bottom: 0px;
} 
/* .disabled{
    cursor: pointer;
    pointer-events: none;
    opacity: 0.5;
} */